# Kicad temporary files
# Format documentation: http://kicad-pcb.org/help/file-formats/

*.000
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*~
_autosave-*
*.tmp
*-cache.lib
*-rescue.lib
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Don't ignore exported .net files to allow to build pcb production
# file without launching Kicad


# Python temporary files

*.py[cod]


# Python coverage files

.coverage
htmlcov/


# Build temporary files

artifacts/

# VSCode

.vscode/