[submodule "submodules/kcgen"]
	path = submodules/kcgen
	url = git@github.com:ohmtech/kcgen.git
[submodule "submodules/kicad-libs"]
	path = submodules/kicad-libs
	url = git@github.com:ohmtech/kicad-libs.git
[submodule "submodules/gyp"]
	path = submodules/gyp
	url = https://chromium.googlesource.com/external/gyp
[submodule "submodules/libDaisy"]
	path = submodules/libDaisy
	url = git@github.com:electro-smith/libDaisy.git
[submodule "submodules/vcv-rack-sdk"]
	path = submodules/vcv-rack-sdk
	url = git@github.com:ohmtech-rdi/vcv-rack-sdk.git
[submodule "submodules/freerouting-jar"]
	path = submodules/freerouting-jar
	url = git@github.com:ohmtech-rdi/freerouting-jar.git
