name: Windows 2019

on:
  pull_request:
    branches: [ main ]

jobs:
  software_cpp:
    name: Software C++
    runs-on: windows-2019
    defaults:
      run:
        shell: bash -l {0} # Source profile for each step
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - run: python3 build-system/install.py
      - run: erbb setup
      - name: test/micropatch
        run: erbb configure && erbb build && erbb build simulator
        working-directory: test/micropatch
      - name: test/data
        run: erbb configure && erbb build && erbb build simulator && erbb build hardware
        working-directory: test/data
      - name: samples/bypass
        run: erbb configure && erbb build && erbb build simulator && erbb build hardware
        working-directory: samples/bypass
      - name: samples/drop
        run: erbb configure && erbb build && erbb build simulator && erbb build hardware
        working-directory: samples/drop
      - name: samples/reverb
        run: erbb configure && erbb build && erbb build simulator && erbb build hardware
        working-directory: samples/reverb
      - name: samples/kick
        run: erbb configure && erbb build && erbb build simulator && erbb build hardware
        working-directory: samples/kick
      - name: erbb init
        run: mkdir init && cd init && erbb init Init && erbb configure && erbb build && erbb build simulator && erbb build hardware
        working-directory: samples

  software_max:
    name: Software Max/MSP/Gen~
    runs-on: windows-2019
    defaults:
      run:
        shell: bash -l {0} # Source profile for each step
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - run: python3 build-system/install.py
      - run: erbb setup
      - name: test/max
        run: erbb configure && erbb build simulator && erbb build && erbb build hardware
        working-directory: test/max
      - name: test/max2
        run: erbb configure && erbb build simulator && erbb build && erbb build hardware
        working-directory: test/max2

  software_faust:
    name: Software Faust
    runs-on: windows-2019
    defaults:
      run:
        shell: bash -l {0} # Source profile for each step
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - run: curl https://github.com/grame-cncm/faust/releases/download/2.37.3/Faust-2.37.3-win64.exe --location --output Faust-2.37.3-win64.exe
      - run: ./Faust-2.37.3-win64.exe //S
      - run: echo 'export PATH=$PATH:/c/Program\ Files/Faust/bin' >> ~/.bash_profile
      - run: cat ~/.bash_profile
      - run: python3 build-system/install.py
      - run: erbb setup
      - name: samples/faust
        run: erbb configure && erbb build && erbb build hardware && erbb build gerber && erbb build simulator
        working-directory: samples/faust
      - name: test/faust
        run: erbb configure && erbb build simulator && erbb build && erbb build hardware
        working-directory: test/faust
      - name: test/faust2
        run: erbb configure && erbb build simulator && erbb build && erbb build hardware
        working-directory: test/faust2
      - name: test/faust3
        run: erbb configure && erbb build simulator && erbb build && erbb build hardware
        working-directory: test/faust3
